body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

body::before {
    display: inline;
    content: '';
    width:70px;
    height: 70px;
    position: absolute;
    top:746px;
    left:317px;
    border-radius: 20%;
    background-color: steelblue;
    transform: rotate(45deg);
    /* border: solid 2px rgba(0, 0, 0, 0.745); */
}

body::after {
    display: inline;
    content: '';
    width: 149px;
    height: 257px;
    position: absolute;
    top:-74px;
    left:-23px;
    border-radius: 20%;
    background-color: steelblue;
    transform: rotate(45deg);
    /* border: solid 2px rgba(0, 0, 0, 0.745); */
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -422px;
    margin-left: -198px;
    border: none;
}
#item{
    margin-top: 5px;
    margin-left: -36px;
    width: 93vw;
    height: 5vh;
}
